@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

@theme {
    --color-neutral-very-dark-grayish: #101010;
    --color-neutral-dark-grayish: #131313;
    --color-neutral-grayish: #232323;
    --color-neutral-light-grayish: #4A4A4A;
    --color-neutral-grayish-post: #383838;
    --color-neutral-very-light-grayish: #575757;
    --color-neutral-border-light-color: #424242;


    --color-orange-combat: #FF5100;
    --color-orange-pailed: #FFB08B;

    --bg-url-post: url('./posts/bg.svg');

}

.menuLink {
    padding: 27px;
}

@media (max-width: 1150px) {
    .menuLink {
        padding: 27px 15px;
    }
}

.menuLink:hover {
    background-color: #000;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;

}

svg:hover path, svg:hover rect {
    fill: var(--color-orange-combat);
    transition: all 0.3s ease-in-out;

}

.hamburgerButton {
    position: absolute;
    right: 5%;
}

.bar:hover {
    background-color: var(--color-orange-combat);
    transition: all 0.3s ease-in-out;
}

.hamburgerMenu {
    padding-top: 20px;
    
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    opacity: 0;
    visibility: hidden;
}

.hamburgerMenu.active {
    opacity: 1;
    visibility: visible;
}

.hamburgerMenu a {
    padding: 27px 100px;
}

.hamburgerMenu a:hover {
    background-color: #000;
    transition: all 0.3s ease-in-out;
    border: 1px solid var(--color-neutral-grayish);
    box-sizing: border-box;
}

.carousel {
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    background: var(--color-neutral-grayish);
    margin-top: 10px;
}

.carousel-track {
    height: 80px;
    display: flex;
    animation: scroll 10s linear infinite;
}
@media (max-width: 376px) {
    .carousel {
        padding: 10px 0;
    }

    .carousel-track {
        animation: scroll 4s linear infinite;
        height: 40px;
    }
    .carousel .carousel-track .item {
        height: 50%;
        margin: 0 10px;
        height: 40px;
    }
}

.carousel-track:hover {
    animation-play-state: paused;
}

.item {
    margin: 0 44.5px;
    height: 80px;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.carousel-list {
    transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.button:disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

.userLogin.active {
    opacity: 1;
    visibility: visible;
}

.userLogin {   
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    opacity: 0;
    visibility: hidden;
}


